<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新增模板</title>
    <style>
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .form-container {
            width: 50%;
        }
        .hidden {
            display: none;
        }
    </style>
    <script>

        const templates = {{ templates | tojson }};
        const existingTypes = Object.keys(templates);
        const invalidChars = /[.<>:"/\\|?*]/;
        isValidTypeName = true

        function toggleNewTypeInput() 
        {
            const newTypeCheckbox = document.getElementById("newTypeCheckbox");
            const newTypeInput = document.getElementById("newTypeInput");
            const existingTypeSelect = document.getElementById("existingTypeSelect");
            const templateNameInput = document.getElementById("newTemplateName");

            if (newTypeCheckbox.checked) 
            {
                newTypeInput.style.display = "block";
                existingTypeSelect.disabled = true;
                templateNameInput.oninput = function()
                {
                    checkTypeName();
                    checkNewTemplateName();
                };
            } 
            else 
            {
                isValidTypeName = true;
                newTypeInput.style.display = "none";
                existingTypeSelect.disabled = false;
                templateNameInput.oninput = function()
                {
                    checkExistingTemplateName();
                };
            }
        }

        function checkTypeName()
        {
            const newTypeName = document.getElementById("newTemplateType").value;
            const submitButton = document.getElementById("submitButton");
            const typeMessage = document.getElementById("typeMessage");
            if (existingTypes.includes(newTypeName)) 
            {
                typeMessage.innerText = "這個動畫類型名稱已經存在，請重新命名或選擇既有動畫類型。\n";
                submitButton.disabled = true;
                isValidTypeName = false;
            } 
            else 
            {
                typeMessage.innerText = "";
                submitButton.disabled = false;
                isValidTypeName = true;
            }
        }

        function checkNewTemplateName()
        {
            const templateName = document.getElementById("newTemplateName").value;
            const submitButton = document.getElementById("submitButton");
            const templateMessage = document.getElementById("templateMessage");

            if(invalidChars.test(templateName))
            {
                templateMessage.innerText = "模板名稱包含無效字符，請重新命名。\n";
                submitButton.disabled = true;
                return;
            }
            for(const type in templates)
            {
                if(templates[type][templateName])
                {
                    templateMessage.innerText = "這個模板名稱已經存在於某個動畫類型中，請重新命名。\n";
                    submitButton.disabled = true;
                    return;
                }
            }
            //no conflict name
            templateMessage.innerText = "";
            if (!isValidTypeName && submitButton.disabled)  //invalid new template type name cause it disabled
                return;
            submitButton.disabled = false;
        }

        function checkExistingTemplateName()
        {
            checkNewTemplateName();
        }

        document.addEventListener("DOMContentLoaded", function()
        {
            // get json_path from adjust_template_page
            const urlParams = new URLSearchParams(window.location.search);
            const jsonPath = urlParams.get('json_path');
            const templateFileInput = document.getElementById("newTemplateFile");
            const gifPath = urlParams.get('gif_path');
            const templateGifInput = document.getElementById("newTemplateGif");
            // if json file from adjust_template_page exist, set it into jsonFilePathInput and disable upload function
            if (jsonPath)
            {
                const jsonFilePathInput = document.getElementById("jsonFilePath");
                jsonFilePathInput.value = jsonPath;
                templateFileInput.disabled = true;
            }
            else
            {
                templateFileInput.disabled = false;
            }

            if (gifPath)
            {
                const gifFilePathInput = document.getElementById("gifFilePath");
                gifFilePathInput.value = gifPath;
                templateGifInput.disabled = true;
            }
            else
            {
                templateGifInput.disabled = false;
            }

        });


    </script>
</head>
<body>
    <a href="{{ url_for('index') }}">
        <img src="{{url_for('static',filename='Image/back_icon.png')}}" alt="Back to homepage" style="width:30px; height:30px; position: absolute; margin-bottom:10px; top: 10px; left: 10px; cursor: pointer;">
    </a>

    <h1 style="margin-top:40px;">新增模板</h1>
    {% if error_message %}
        <script>
            alert("{{ error_message }}");
        </script>
    {% endif %}
    <div class="container">
        <div class="form-container">
            <form id="addTemplateForm" action="/add_template" method="post" enctype="multipart/form-data">
                
                <label for="existingTypeSelect">選擇現有動畫類型：</label>
                <select id="existingTypeSelect" name="existingType" onchange="checkExistingTemplateName()">
                    {% for type in templates.keys() %}
                        <option value="{{ type }}">{{ type }}</option>
                    {% endfor %}
                </select><br><br>

                <input type="checkbox" id="newTypeCheckbox" name="newTypeCheckbox" onclick="toggleNewTypeInput()">
                <label for="newTypeCheckbox">新增動畫類型</label><br><br>

                <div id="newTypeInput" class="hidden">
                    <label for="newTemplateType">新動畫類型名稱：</label>
                    <input type="text" id="newTemplateType" name="newTemplateType" oninput="checkTypeName(); checkNewTemplateName();"><br><br>
                    <span id="typeMessage" style="color: red;"></span>
                </div>

                <label for="newTemplateName">模板名稱：</label>
                <input type="text" id="newTemplateName" name="newTemplateName" required oninput="checkNewTemplateName();"><br><br>
                <span id="templateMessage" style="color: red;"></span>


                <input type="hidden" id="jsonFilePath" name="jsonFilePath">
                <label for="newTemplateFile">上傳模板文件 (.json)：</label>
                <input type="file" id="newTemplateFile" name="newTemplateFile" accept=".json" required><br><br>

                <input type="hidden" id="gifFilePath" name="gifFilePath">
                <label for="newTemplateGif">上傳預覽GIF (未自行上傳GIF則由網頁自動進行生成)：</label>
                <input type="file" id="newTemplateGif" name="newTemplateGif" accept=".gif"><br><br>

                <input type="submit" id="submitButton" value="確認新增">
            </form><br>
        </div>
    </div>
</body>
</html>