<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>調整模板</title>
    <style>
        .file-download{
            text-align: center;
            margin-top: 20px;
        }
        .file-download img{
            width: 50px;
            height: 50px;
            cursor: pointer;
        }

    </style>

    <script>
        document.addEventListener("DOMContentLoaded", function () 
        {
            const scaleRange = document.getElementById("scale_range");
            const scaleValue = document.getElementById("scale_value");
            const scaleInput = document.getElementById("scale_factor");
            
            scaleRange.addEventListener('input', function(){
                scaleValue.textContent = scaleRange.value;
                scaleInput.value = scaleRange.value;
            });
        });
    </script>
</head>
<body>
    <h1>調整模板網格</h1>
    <div class="form-container">
        <form action="/adjust_template" method="post" enctype="multipart/form-data">
            <label for="json_file">上傳模板文件(.json):</label>
            <input type="file" id="json_file" name="json_file" accept=".json" required><br><br>
            
            <label for="image_file">上傳圖片(.png):</label>
            <input type="file" id="image_file" name="image_file" accept=".png" required><br><br>
            
            <label for="scale_range">網格調整倍數:</label>
            <input type="range" id="scale_range" name="scale_range" min="1.0" max="3.0" step="0.1" value="2.0">
            <span id="scale_value">2.0</span>
            <input type="hidden" id="scale_factor" name="scale_factor" value="2.0"><br><br>

            <input type="submit" value="Adjust Template">
        </form>
    </div>
    <div class="file-download">
        {% if json_download_link %}
        <a href="{{json_download_link}}" download>
            <img src="{{url_for('static',filename='Image/download_icon.png')}}" alt="Download JSON">
        </a>
        <p>點擊圖示下載調整後的模板(.json)</p>
        {% else %}
        <p>尚無調整後的模板</p>
        {% endif %}

        {% if img_download_link %}
        <a href="{{img_download_link}}" download>
            <img src="{{url_for('static',filename='Image/download_icon.png')}}" alt="Download Image">
        </a>
        <p>點擊圖示下載調整後的圖片(.png)</p>
        {% else %}
        <p>尚無調整後的圖片</p>
        {% endif %}
    </div>
</body>
</html>