<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animation Generator</title>
    <style>
        .container {
            display: flex;
        }
        .form-container {
            flex: 1;
        }
        .image-container {
            flex: 1;
            text-align: left;
            padding-left: 20px;
        }
        .image-container img {
            max-width: 100%;
            height: auto;
            display: block;
        }
    </style>
    <script>

        const templates = {{ templates | tojson }};

        function UpdateSecondDropdown() 
        {
            const animationTypeSelect = document.getElementById("animationTypeSelect");
            const templateSelect = document.getElementById("templateSelect");
            const selectedType = animationTypeSelect.value;
            
            // Clear the second dropdown
            templateSelect.innerHTML = "";
            
            // Populate the second dropdown based on the selected type
            for (const [templateName, templateFile] of Object.entries(templates[selectedType])) {
                const option = document.createElement("option");
                option.value = templateName;
                option.text = templateName;
                templateSelect.appendChild(option);
            }

            // Update preview gif
            UpdatePreviewGif();
        }

        function UpdatePreviewGif()
        {
            const animationTypeSelect = document.getElementById("animationTypeSelect");
            const templateSelect = document.getElementById("templateSelect");
            const selectedType = animationTypeSelect.value;
            const selectedTemplate = templateSelect.value;
            const previewGif = document.getElementById("templatePreviewGIF");

            const previewUrl = templates[selectedType][selectedTemplate]?.gifUrl;
            if(previewUrl)
            {
                previewGif.src = previewUrl;
                previewGif.style.display = "block";
            }
            else
            {
                previewGif.src = "";
            }
        }
        document.addEventListener("DOMContentLoaded", function () 
        {
            // Initialize the second dropdown when the page loads
            UpdateSecondDropdown();
            const animationTypeSelect = document.getElementById("animationTypeSelect");
            animationTypeSelect.addEventListener('change', UpdateSecondDropdown);
            // Update preview gif when template selected changes
            const templateSelect = document.getElementById("templateSelect");
            templateSelect.addEventListener('change', UpdatePreviewGif);
            

            function updateIntensityValue(rangeID, valueID, inputID) {
                const intensityRange = document.getElementById(rangeID);
                const intensityValue = document.getElementById(valueID);
                const intensityInput = document.getElementById(inputID);
                intensityValue.textContent = intensityRange.value;
                intensityInput.value = intensityRange.value;
            }

            function updateSpeedValue() {
                const speedRange = document.getElementById('speedRange');
                const speedValue = document.getElementById('speedValue');
                const speedInput = document.getElementById('speed');
                speedValue.textContent = speedRange.value;
                speedInput.value = speedRange.value;
            }

            const speedRange = document.getElementById('speedRange');
            speedRange.addEventListener('input', updateSpeedValue);
            updateSpeedValue();

            updateIntensityValue('intensityTranslateRange', 'intensityTranslateValue', 'intensityTranslate');
            updateIntensityValue('intensityScaleRange', 'intensityScaleValue', 'intensityScale');
            updateIntensityValue('intensityRotateRange', 'intensityRotateValue', 'intensityRotate');

            const translateRange = document.getElementById('intensityTranslateRange');
            const scaleRange = document.getElementById('intensityScaleRange');
            const rotateRange = document.getElementById('intensityRotateRange');

            translateRange.addEventListener('input', function() {
                updateIntensityValue('intensityTranslateRange', 'intensityTranslateValue', 'intensityTranslate');
            });
            scaleRange.addEventListener('input', function() {
                updateIntensityValue('intensityScaleRange', 'intensityScaleValue', 'intensityScale');
            });
            rotateRange.addEventListener('input', function() {
                updateIntensityValue('intensityRotateRange', 'intensityRotateValue', 'intensityRotate');
            });
            
            
        });
    </script>
</head>
<body>
    <h1>Animation Generator</h1>
    <div class="container">
        <div class="form-container">
            
            <button onclick="location.href='/add_template_page'">新增模板</button><br><br>
            <button onclick="location.href='/adjust_template_page'">調整模板</button><br><br>
            <button onclick="location.href='/enter_game_url'">擷取遊戲動畫</button><br><br>

            <form id="animationForm" action="/upload" method="post" enctype="multipart/form-data">
                <label for="imageUpload">上傳圖片：</label>
                <input type="file" id="imageUpload" name="image" accept="image/*" required><br><br>

                <label for="letterSelect">選擇字母：</label>
                <select id="letterSelect" name="letter" required>
                    <option value="A">A</option>
                    <option value="K">K</option>
                    <option value="Q">Q</option>
                    <option value="J">J</option>
                </select><br><br>

                <label for="animationTypeSelect">選擇動畫類型：</label>
                <select id="animationTypeSelect" name="animationType" required onchange="UpdateSecondDropdown()">
                    {% for type in templates.keys() %}
                        <option value="{{ type }}">{{ type }}</option>
                    {% endfor %}
                </select><br><br>

                <label for="templateSelect">選擇動畫模板：</label>
                <select id="templateSelect" name="template" required onchange="UpdatePreviewGif()">
                    <!-- This will be populated based on the first dropdown -->
                </select><br><br>

                <label for="intensityTranslateRange">Translate Intensity:</label>
                <input type="range" id="intensityTranslateRange" name="intensityTranslateRange" min="0.1" max="2.0" step="0.1" value="1.0">
                <span id="intensityTranslateValue">1.0</span>
                <input type="hidden" id="intensityTranslate" name="intensityTranslate" value="1.0"><br><br>

                <label for="intensityScaleRange">Scale Intensity:</label>
                <input type="range" id="intensityScaleRange" name="intensityScaleRange" min="0.1" max="2.0" step="0.1" value="1.0">
                <span id="intensityScaleValue">1.0</span>
                <input type="hidden" id="intensityScale" name="intensityScale" value="1.0"><br><br>

                <label for="intensityRotateRange">Rotate Intensity:</label>
                <input type="range" id="intensityRotateRange" name="intensityRotateRange" min="0.1" max="2.0" step="0.1" value="1.0">
                <span id="intensityRotateValue">1.0</span>
                <input type="hidden" id="intensityRotate" name="intensityRotate" value="1.0"><br><br>

                <label for="speedRange">Speed:</label>
                <input type="range" id="speedRange" name="speedRange" min="0.1" max="2.0" step="0.1" value="1.0">
                <span id="speedValue">1.0</span>
                <input type="hidden" id="speed" name="speed" value="1.0"><br><br>

                <input type="submit" value="生成動畫">
            </form><br>
        </div>
        <div class="image-container">
            <h2>Template Preview</h2>
            <img id="templatePreviewGIF" src="" alt="Template Preview" style="display:none;">
            
            <h2>Uploaded Image</h2>
            {% if image_web_url %}
                <img id="animationImage" src="{{url_for('static',filename=image_web_url)}}" alt="Uploaded Image">
            {% else %}
                <p>No image uploaded yet.</p>
            {% endif %}

            <h2>Animation GIF</h2>
            {% if gif_web_url %}
                <img id="animationGIF" src="{{url_for('static',filename=gif_web_url)}}" alt="Generated Animation">
            {% else %}
                <p>No GIF generated yet.</p>
            {% endif %}
        </div>
        {% comment %} <div class="download-container">
            <a href="{{ url_for('download_mapping') }}">
                <img src="{{url_for('static',filename='Image/download_icon.png')}}" alt="Download Mapping" style="width: 50px; height: 50px; cursor: pointer;">
            </a>
            <p>點擊圖示下載模板列表(.json)</p><br><br>

            <a href="{{ url_for('download_all_templates') }}">
                <img src="{{url_for('static',filename='Image/download_icon.png')}}" alt="Download Mapping" style="width: 50px; height: 50px; cursor: pointer;">
            </a>
            <p>點擊圖示下載所有模板文件(.json)</p><br><br>
        </div> {% endcomment %}
    </div>
</body>
</html>
